@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfdfd;
    --primary: #a0db8e;
    --secondary: #41a548;
  }

  .dark {
    --background: #fdfdfd;
    --primary: #a0db8e;
    --secondary: #41a548;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }

  body {
    @apply bg-background;
  }

  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center text-black;
  }
}